//! **************************************************************************
// Written by: Map P.68d on Tue Jan 31 12:30:54 2017
//! **************************************************************************

SCHEMATIC START;
COMP "segment<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "segment<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "button<0>" LOCATE = SITE "A8" LEVEL 1;
COMP "segment<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "button<1>" LOCATE = SITE "C4" LEVEL 1;
COMP "segment<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "button<2>" LOCATE = SITE "B8" LEVEL 1;
COMP "button<3>" LOCATE = SITE "D9" LEVEL 1;
COMP "button<4>" LOCATE = SITE "C9" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "inputSwitches<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "inputSwitches<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "inputSwitches<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "inputSwitches<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "inputSwitches<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "mclk" LOCATE = SITE "V10" LEVEL 1;
SCHEMATIC END;

