# Connections for the LEDS

#Net temp_leds(0) LOC=U16  ;
#Net temp_leds(1) LOC=V16  ;
#Net temp_leds(2) LOC=U15  ;
#Net temp_leds(3) LOC=V15  ;
#Net temp_leds(4) LOC=M11  ;
#Net temp_leds(5) LOC=N11  ;
#Net temp_leds(6) LOC=R11  ;
#Net temp_leds(7) LOC=T11  ;

# Connections for the buttons

Net BTNS LOC=B8  ;
Net BTNU LOC=A8  ;
Net BTNL LOC=C4  ;
Net BTND LOC=C9  ;
Net BTNR LOC=D9  ;

# Connections for the switches

Net SW(0) LOC=T10  ;
Net SW(1) LOC=T9   ;
Net SW(2) LOC=V9   ;
Net SW(3) LOC=M8   ;
Net SW(4) LOC=N8   ;
Net SW(5) LOC=U8   ;
Net SW(6) LOC=V8   ;
Net SW(7) LOC=T5   ;

# Connections for the Seven Segment Display

Net display(0) LOC=T17   ;
Net display(1) LOC=T18   ;
Net display(2) LOC=U17   ;
Net display(3) LOC=U18   ;
Net display(4) LOC=M14   ;
Net display(5) LOC=N14   ;
Net display(6) LOC=L14   ;
Net display(7) LOC=M13   ;

Net DP(0) LOC=N16  ;
Net DP(1) LOC=N15  ;
Net DP(2) LOC=P18  ;
Net DP(3) LOC=P17  ;

# Connections for the UART and CLK

#Net UART_TXD LOC=N18  ;
Net mclk LOC=V10       ;